html, body {
  height: 100%;
  margin: 0;
}

.App {
  display: flex;
  flex-direction: column;
  min-height: 100vh; /* use viewport height to ensure it takes at least the full viewport height */
}

/* This is a wrapper for your main content, make it grow to take up all available space */
.main-content {
  flex-grow: 1;
}

.card {
  /* Transition property for smooth scaling */
  transition: transform 0.3s ease-in-out;
}

.card:hover {
  /* Scale the card to make it bigger */
  transform: scale(1.1);
}
.card:hover .pet-card-overlay {
  opacity: 1;
}